$primary: rgba(128, 0, 128, 0.3);

.homeWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // position: relative;
  .textWrap {
    // position: absolute;
    width: 350px;
    // background: pink;
  }
  // .profileImage {
  //   position: absolute;
  //   width: 50%;
  // }
}

.profileImage {
  background-color: $primary;
  padding: 10px;
  margin-top: 2rem;
  border-radius: 10px;
}
