$primary: rgba(128, 0, 128, 0.3);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.homeWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .textWrap {
    width: 350px;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.shadow-white {
  box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.2),
    0 4px 6px -2px rgba(255, 255, 255, 0.05);
}

.profileImage {
  background-color: $primary;
  padding: 10px;
  margin-top: 2rem;
  border-radius: 10px;
}
